[user]
	name = TimeEmit
	email = LiamNorris1231853211@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/liam/.gitignore_global
[alias]
  # hist = log --pretty=format:\"%h %Cblue%cd%Creset | %s%d [%an]\" --left-right --date=short
  hist = log --oneline --graph
  amend = commit --amend -C HEAD
