[user]
	name = TimeEmit
	email = LiamNorris1231853211@gmail.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/liam/.gitignore_global

[alias]
  hist = log --pretty=format:\"%h %cd | %s%d [%an]\" --graph --left-right --date=short
