.CFUserTextEncoding
.DS_Store
.MacOSX*
.Trash*
.account*
.bash_history*
.gnupg*
.k5login
.npm*
.profile
.rvm*
.ssh*
.viminfo
Applications*
Desktop*
Documents*
Downloads*
Library*
Movies*
Music*
Pictures*
Public*
